# SPDX-FileCopyrightText: Copyright (c) 2009-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT

language: php
php:
  - '7.0'
cache:
  directories:
  - vendor
install:
  - composer install
  - npm install jscoverage -g
script:
  - ./vendor/phing/phing/bin/phing
